# Compiled source
*.pyc
*.pyo
*.pyd
__pycache__/

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
